{
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "overrides": [{ "files": "*.md", "options": { "tabWidth": 1 } }]
}
